name: Validate Rust Source

on:
  pull_request:
  workflow_call:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    name: Rust Checks
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: stable
          components: rustfmt, clippy
      - name: Install SARIF
        run: cargo install clippy-sarif sarif-fmt
      - uses: actions-rust-lang/rustfmt@v1
      - name: Verify Project
        run: cargo verify-project -v
      - name: Clippy Lint
        run: >
          cargo clippy --all-features --all --message-format=json
          | clippy-sarif
          | tee clippy-results.sarif
          | sarif-fmt
        continue-on-error: true
      - name: upload clippy results
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: clippy-results.sarif
          category: lint
          wait-for-processing: true

  build:
    name: ${{ matrix.os }} | ${{ matrix.toolchain }}
    needs: check
    strategy:
      fail-fast: true
      matrix:
        toolchain: [stable]
        os: [ubuntu-latest, ubuntu-20.04, windows-latest, windows-2019, macos-latest, macos-11]
        experimental: [false]
        include:
          - toolchain: beta
            os: ubuntu-latest
            experimental: true
          - toolchain: nightly
            os: ubuntu-latest
            experimental: true
    continue-on-error: ${{ matrix.experimental }}
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: ${{ matrix.toolchain }}
      - run: cargo test --workspace --no-run
      - run: cargo test --workspace --no-fail-fast
